<!-- <select #dropdown (change)="currencyService.setCurrency(dropdown.value)" >
    @for (currency of currencyService.currencies(); track currency.code) {
    <option [value]="currency.code">
      {{ currency.code }} ({{ currency.symbol }})
    </option>
    }
  </select> -->
  
  <select [(ngModel)]="selectedCurrency" (ngModelChange)="currencyService.setCurrency($event)" name="currency">
    @for (currency of currencyService.currencies(); track currency.code) {
      <option [value]="currency.code">
        {{ currency.code }} ({{ currency.symbol }})
      </option>
      }
  </select>